@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #272727;
  --primary-color: #ff4d4d;
  --secondary-color: #ffcccb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header, footer {
  background-color: var(--primary-color);
}

button {
  background-color: var(--primary-color);
  color: var(--foreground);
}
